# Gradle
**/build
**/.gradle
local.properties

# Eclipse
**/bin
**/.settings
.project
.classpath

# IntelliJ IDEA
**/out
**/.idea/caches
**/.idea/dbnavigator.xml
**/.idea/gradle.xml
**/.idea/libraries
**/.idea/modules.xml
**/.idea/saveactions_settings.xml
**/.idea/shelf
**/.idea/tasks.xml
**/.idea/usage.statistics.xml
**/.idea/workspace.xml
**/.idea/uiDesigner.xml
*.iml

# macOS
.DS_Store
